<mat-toolbar color="primary">
  <span>Blog Université de Paris</span>
  <a routerLink="posts">Posts</a>
  <ng-container *ngIf="isLoggedIn$ | async">
    <button mat-flat-button color="accent"
            (click)="onLogout()">Se déconnecter
    </button>
    <button mat-flat-button color="accent"
            (click)="onNewPost()">Nouveau post
    </button>
  </ng-container>
  <form [formGroup]="searchForm">
    <input type="text" formControlName="search">
  </form>
</mat-toolbar>
<router-outlet></router-outlet>
